*{margin:0;padding:0;list-style: none;font-family: 'Arial';word-break: break-word;}
.body{width:100%;}
.copyright{color: #aeafb0;font-size: 12px;text-align: center;line-height: 63px;background: #1b1b1b;}
.classname{display: none;}
